<html ng-app='ticTacToe'>
<style>
    .spot {
	    border: 1px solid black;
		width: 100px;
		height: 100px;
		float: left;
		font-size: 80px;
	}
</style>
<script src='angular.js'></script>
<script>
angular.module('ticTacToe', []);

function Ctrl($scope, $http) {		
    $scope.spots = [];
	$scope.gameOver = false;
	for (var y = 0; y < 3; y++) {
	    for (var x = 0; x < 3; x++) {
		    $scope.spots[$scope.spots.length] = {row: x, col: y, state: "", id: x+(y*3)};
		}
	}
	
	$scope.fillIn = function(spot) {
	    if (!$scope.gameOver) {
			if (spot.state == "") {
				spot.state = 'X';
										
				if ($scope.won($scope.spots)) {
					$scope.messageText = "You won";
					$scope.messageVisibile= true;
					$scope.gameOver = true;
				} else {						
					$scope.spots[$scope.solution[spot.id].response].state = 'O';
					$scope.solution = $scope.solution[spot.id];
					if ($scope.won($scope.spots)) {
					    console.log("Computer won");
						$scope.messageText = "Computer won";
						$scope.messageVisibile = true;						
						$scope.gameOver = true;
					}
				}
			}
		}
	}
	
	$scope.won = function(spots) {
	    var teams = ["O", "X"];
	    for (var j = 0; j < 2; j++) {
			for (var x = 0; x < 3; x++) {
				var filledSpots = 0;
				for (var i = 0; i < $scope.spots.length; i++) {
					if ($scope.spots[i].row == x) {
						if ($scope.spots[i].state == teams[j]) {
							filledSpots++;
						}
					}
				}
				if (filledSpots == 3) {
					return true;
				}
			}

			for (y = 0; y < 3; y++) {
				var filledSpots = 0;
				for (var i = 0; i < $scope.spots.length; i++) {
					if ($scope.spots[i].col == y) {
						if ($scope.spots[i].state == teams[j]) {
							filledSpots++;
						}
					}
				}
				if (filledSpots == 3) {
					return true;
				}
			}
			var filledSpots = 0;
			for (var i = 0; i < $scope.spots.length; i++) {
				if ($scope.spots[i].col == $scope.spots[i].row) {
					if ($scope.spots[i].state == teams[j]) {
						filledSpots++;
					}
				}
			}
			if (filledSpots == 3) {
				return true;
			}
			var filledSpots = 0;
			for (var i = 0; i < $scope.spots.length; i++) {
				if ($scope.spots[i].col == 2 - $scope.spots[i].row) {
					if ($scope.spots[i].state == teams[j]) {
						filledSpots++;
					}
				}
			}
			if (filledSpots == 3) {
				return true;
			}			
			
		}
		return false;		
	};	
	
	$scope.getSolution = function() {
	    $http.get('TTTOSolution.json').success( function(data) {
		    $scope.solution = data;
		    return data
		});
	}
	
	$scope.getSolution();
}

function clone(obj){
    if(obj == null || typeof(obj) != 'object')
        return obj;

    var temp = obj.constructor(); // changed

    for(var key in obj)
        temp[key] = clone(obj[key]);
    return temp;
}

</script>
<body ng-controller='Ctrl'>
    <h1>Tic Tac Toe!</h1>
	<div style='width: 330px; height: 330px; margin: auto;'>
    	<div class='spot' ng-repeat='spot in spots' ng-click='fillIn(spot)'>{{spot.state}}</div> 
		<div id='message' style='margin: auto; height: 200px; width: 200px; border: 1px solid black; background-color: white; transition: background-color 2s; clear: both' ng-if='messageVisibile'>{{messageText}}</div>
    </div>
	
	
</body>
</html>