<html ng-app='ticTacToe'>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="ticTacToe.css">
    <script src='angular.js'></script>
    <script src='ticTacToe.js'></script>
</head>
<body ng-controller='Ctrl'>
    <div style='margin: auto; width: 900px'>
		<div style='float: left; margin-left: 300px' id='middleCol'>
			<h1 style='text-align: center'>Tic Tac Toe!</h1>
			<div style='margin: auto; width: 300px; margin-bottom: 20px'>
				<input type='radio' ng-model='team' ng-change='startGame()' value='X' />Play first (X)<span style='margin-right: 40px'> </span>
				<input type='radio' ng-model='team' ng-change='startGame()' value='O' />Play second (O)
			</div>
			<div style='width: 300px; height: 300px; margin: auto; margin-bottom: 40px;'>
				<div ng-class='spot.classes' class='spot' ng-repeat='spot in spots' ng-click='fillIn(spot)'>
					{{spot.state}}
				</div> 
			</div>
		</div>
		<div style='float: left' id='rightCol'>
			<div id='messageBox'  ng-if='messageVisible'>
				<div style='text-align: center' id='outcomeText'>{{outcomeText}}</div>
				<div ng-click='startGame()' id='playAgain'>Play again</div>
			</div>	
		</div>
	</div>
</body>
</html>